{% extends "base.html" %}
{% load static %}

{% block title %}SWARM-LAB - Gallery{% endblock %}

{% block nav_services %}About{% endblock %}

{% block content %}
<!-- gallery -->
<div id="gallery" class="gallery-main pad-top-100 pad-bottom-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
					<h2 class="block-title text-center">
					Our Gallery	
				</h2>
				</div>
				<div class="gal-container clearfix">
					<div class="col-md-8 col-sm-12 co-xs-12 gal-item">
						<div class="box">
							<a href="https://www.facebook.com/swarmroboticslab/photos" data-toggle="modal" data-target="#1">
								<img src="{% static 'images/imgg3.jpg' %}" alt="">
							</a>
							<div class="modal fade" id="1" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class="modal-body">
											<img src="{% static 'images/school.jpg' %}" alt="">
										</div>
										<div class="col-md-12 description">
											<h4>Swarm Robotics Lab - Main View</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
						<div class="box">
							<a href="https://www.facebook.com/swarmroboticslab/photos" data-toggle="modal" data-target="#2">
								<img src="{% static 'images/lri1.jpeg' %}" alt="">
							</a>
							<div class="modal fade" id="2" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class="modal-body">
											<img src="{% static 'images/lri1.jpeg' %}" alt="">
										</div>
										<div class="col-md-12 description">
											<h4>Research Activities</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
						<div class="box">
							<a href="https://www.facebook.com/swarmroboticslab/photos" data-toggle="modal" data-target="#3">
								<img src="{% static 'images/lri2.jfif' %}" alt="">
							</a>
							<div class="modal fade" id="3" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class="modal-body">
											<img src="{% static 'images/lri2.jfif' %}" alt="">
										</div>
										<div class="col-md-12 description">
											<h4>Lab Equipment</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
						<div class="box">
							<a href="https://www.facebook.com/swarmroboticslab/photos" data-toggle="modal" data-target="#4">
								<img src="{% static 'images/lri3.jpeg' %}" alt="">
							</a>
							<div class="modal fade" id="4" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class="modal-body">
											<img src="{% static 'images/lri3.jpeg' %}" alt="">
										</div>
										<div class="col-md-12 description">
											<h4>Student Projects</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
						<div class="box">
							<a href="https://www.facebook.com/swarmroboticslab/photos" data-toggle="modal" data-target="#5">
								<img src="{% static 'images/lri4jfif.jfif' %}" alt="">
							</a>
							<div class="modal fade" id="5" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class="modal-body">
											<img src="{% static 'images/lri4jfif.jfif' %}" alt="">
										</div>
										<div class="col-md-12 description">
											<h4>Robotics Workshop</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
						<div class="box">
							<a href="https://www.facebook.com/swarmroboticslab/photos" data-toggle="modal" data-target="#6">
								<img src="{% static 'images/lri5.jfif' %}" alt="">
							</a>
							<div class="modal fade" id="6" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class="modal-body">
											<img src="{% static 'images/lri5.jfif' %}" alt="">
										</div>
										<div class="col-md-12 description">
											<h4>Team Collaboration</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-8 col-sm-12 co-xs-12 gal-item">
						<div class="box">
							<a href="https://www.facebook.com/swarmroboticslab/photos" data-toggle="modal" data-target="#7">
								<img src="{% static 'images/imgg1.jpg' %}" alt="">
							</a>
							<div class="modal fade" id="7" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class="modal-body">
											<img src="{% static 'images/imgg1.jpg' %}" alt="">
										</div>
										<div class="col-md-12 description">
											<h4>Innovation Showcase</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
						<div class="box">
							<a href="https://www.facebook.com/swarmroboticslab/photos" data-toggle="modal" data-target="#8">
								<img src="{% static 'images/imgg2.jpg' %}" alt="">
							</a>
							<div class="modal fade" id="8" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class="modal-body">
											<img src="{% static 'images/imgg2.jpg' %}" alt="">
										</div>
										<div class="col-md-12 description">
											<h4>Advanced Research</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}