{% extends "base.html" %}
{% load static %}

{% block title %}SWARM-LAB - Home{% endblock %}

{% block nav_services %}Services{% endblock %}

{% block content %}
<div class="pull-right toggle-right-sidebar">
	<!-- <span class="fa title-open-right-sidebar tooltipstered fa-angle-double-right"></span> -->
</div>
<div class="w3l-content-photo-5" id="welc">
	<div class="content">
		<div class="wrapper">
			<div class="d-grid">
				<div class="content-left">
					<h3 style="color: white;">
						Welcome to Swarm Robotics Lab:
						<div id="parent">
							Innovating the Future of Robotics
							<div id="border"></div>
						</div>
					</h3>
					<p><big style="color: white;">
							Swarm Robotics Lab is one of the HEC-funded labs under the National Centre for
							Robotics and Automation (NCRA).
							NCRA is a consortium of 11 labs across 13 universities in Pakistan, headquartered at
							NUST College of E&ME.
							NCRA was inaugurated at NUST College of E&ME by Prof. Ahsan Iqbal (Minister of
							Planning, Development, and Reforms) on May 23, 2018.
							<br><br>
							The Swarm Robotics Lab at UET Taxila has received approximately **79 Million PKR**
							in funding.
							<br><br>
							Join us in advancing robotics and automation in Pakistan!</big>
					</p>
					<button class="button-28 ofst" role="button"
						onclick="window.open('https://web.uettaxila.edu.pk/SwarmRoboticsLab/Index', '_blank');">Official
						Site</button>
				</div>
				<div class="content-photo">
					<img src="{% static 'images/schoolnew.png' %}" alt="content-photo" style="margin-left:50px; height: 180px;"
						class="content-phot">
				</div>
			</div>
		</div>
	</div>
	<section class="w3l-feature-8" id="abt">
		<main class="main">
			<section class="card-area">
				<!-- Card: City -->
				<section class="card-section">
					<div class="card">
						<div class="flip-card">
							<div class="flip-card__container">
								<div class="card-front">
									<div class="card-front__tp card-front__tp--city">
										<svg version="1.1" id="Layer_1"  x="0px" y="0px"
										viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" class="card-front__icon">
								   <g>
									   <path d="M49.7,22c-1.1,0-2,0.9-2,2v32.2c0,1.1,0.9,2,2,2s2-0.9,2-2V24C51.7,22.9,50.8,22,49.7,22z"/>
									   <path d="M13,29.5c1.1,0,2-0.9,2-2s-0.9-2-2-2H5.7v-3h20.8c1.1,0,2-0.9,2-2s-0.9-2-2-2H5.7v-3h20.8c1.1,0,2-0.9,2-2s-0.9-2-2-2H5.7
										   V7.1h24.8v15.3c0,1.1,0.9,2,2,2s2-0.9,2-2V5.1c0-1.1-0.9-2-2-2H3.7c-1.1,0-2,0.9-2,2v51c0,1.1,0.9,2,2,2s2-0.9,2-2V36.5H13
										   c1.1,0,2-0.9,2-2s-0.9-2-2-2H5.7v-3H13z"/>
									   <path d="M58,11.9c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1-0.1-0.2c0-0.1,0-0.1-0.1-0.2c0-0.1-0.1-0.1-0.1-0.2c0,0,0-0.1-0.1-0.1c0,0,0,0,0,0
										   c0-0.1-0.1-0.1-0.1-0.2c0,0-0.1-0.1-0.1-0.1c0,0-0.1-0.1-0.1-0.1c-0.1,0-0.1-0.1-0.2-0.1c0,0-0.1-0.1-0.2-0.1
										   c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.1,0-0.2-0.1c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.2,0c0,0,0,0,0,0
										   c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.2,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0.1c-0.1,0-0.1,0.1-0.2,0.1c0,0-0.1,0-0.1,0.1l-12.6,7.8
										   c0,0,0,0,0,0c-0.1,0-0.1,0.1-0.2,0.1c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.2c0,0.1-0.1,0.1-0.1,0.2
										   c0,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.1-0.1,0.2c0,0.1,0,0.1-0.1,0.2c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2c0,0,0,0,0,0v5.4H22.1
										   c-1.1,0-2,0.9-2,2v28.9c0,1.1,0.9,2,2,2s2-0.9,2-2V29.3h17.3v26.9c0,1.1,0.9,2,2,2s2-0.9,2-2V21l8.6-5.3v40.5c0,1.1,0.9,2,2,2
										   s2-0.9,2-2V12.1C58,12,58,12,58,11.9z"/>
									   <path d="M28,31L28,31c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S29.1,31,28,31z"/>
									   <path d="M33.5,31L33.5,31c-1.1,0-2,0.9-2,2s0.9,2,2,2c1.1,0,2-0.9,2-2S34.6,31,33.5,31z"/>
									   <path d="M28,36L28,36c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S29.1,36,28,36z"/>
									   <path d="M33.5,36L33.5,36c-1.1,0-2,0.9-2,2s0.9,2,2,2c1.1,0,2-0.9,2-2S34.6,36,33.5,36z"/>
								   </g>
								   </svg>

								   <h2 class="card-front__heading">
									ROBOSTEM <BR>BOOTCAMP
								</h2>
								<p class="card-front__text-price">
									Age: 8 to 14 years
								</p>
									</div>

									<div class="card-front__bt">
										<p class="card-front__text-view card-front__text-view--city">
											View me
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="inside-page">
							<div class="inside-page__container">
								<h3 class="inside-page__heading inside-page__heading--city">
									Hands-on robotics training
								</h3>
								<p class="inside-page__text">featuring STEM-based interactive learning and practical projects
								</p>
								<a href="https://www.facebook.com/swarmroboticslab/" target="_blank" class="inside-page__btn inside-page__btn--city">View details</a>
							</div>
						</div>
					</div>
				</section>

				<!-- More card sections would go here - keeping this condensed for now -->
			</section>
		</main>
	</section>

	<!-- Contact Section -->
	<section class="w3l-contact-1" id="cont">
		<div class="contacts-main">
			<div class="wrapper">
				<h3 class="title-main-2">Get In Touch</h3>
				<div class="contact-view">
					<div class="cont-details">
						<div class="cont-top">
							<div class="cont-left text-center">
								<span class="fa fa-phone text-primary"></span>
							</div>
							<div class="cont-right">
								<h6>Call Us</h6>
								<p><a href="tel:+12 334-842-000">+92 51-9047-406</a></p>
							</div>
						</div>
						<div class="cont-top margin-up">
							<div class="cont-left text-center">
								<span class="fa fa-envelope-o text-primary"></span>
							</div>
							<div class="cont-right">
								<h6>Email Us</h6>
								<p><a href="mailto:mail@example.com" class="mail">dr.haroon@uettaxila.edu.pk</a></p>
							</div>
						</div>
						<div class="cont-top margin-up">
							<div class="cont-left text-center">
								<span class="fa fa-map-marker text-primary"></span>
							</div>
							<div class="cont-right">
								<h6>Address</h6>
								<p>UET Taxila, Grand Trunk Rd, Taxila, Rawalpindi, Punjab, Pakistan</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Partnerships Section -->
	<section class="w3l-feature-8" id="sub">
		<div class="wrapper">
			<h3 class="title-main-2">Our Partnerships</h3>
			<div class="features">
				<div class="col-lg-4 col-md-6">
					<div class="feature-gd">
						<div class="icon">
							<img src="{% static 'images/Comp.gif' %}" alt="" class="img-fluid">
						</div>
						<div class="feature-gd-info">
							<h5><a href="#">Industry Partnerships</a></h5>
							<p>Collaborating with leading tech companies to bridge academia and industry.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}

{% block extra_scripts %}
<script>
	$(document).ready(function () {
		console.log("jQuery and Slick are loaded!"); // Debugging check

		if ($('.reviews-slider').length) {
			$('.reviews-slider').slick({
				accessibility: false,
				centerMode: true,
				slidesToShow: 5,
				responsive: [
					{
						breakpoint: 1200,
						settings: { slidesToShow: 3 }
					},
					{
						breakpoint: 767,
						settings: { slidesToShow: 1, centerMode: false }
					}
				]
			});
			console.log("Slick initialized!"); // Debugging check
		} else {
			console.log("Slider element not found!"); // Debugging check
		}
	});
</script>
{% endblock %}